SUBSYSTEM=="net", ACTION=="add", DRIVERS=="kvx_eth", \
        ATTR{phys_port_name}=="enmppa0", NAME="$attr{phys_port_name}"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="kvx_eth", \
        ATTR{phys_port_name}=="enmppa4", NAME="$attr{phys_port_name}"
