BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_K1C_PATH)/local.mk"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_K1C_PATH)/board/kalray/common/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_K1C_PATH)/board/kalray/common/post_image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS=""
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_1=y
BR2_PACKAGE_K1C_FIRMWARE=y
BR2_TARGET_BAREBOX_IMAGE_FILE="barebox"
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_STRACE=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_K1C_PATH)/patches/"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_K1C_PATH)/configs/busybox.config"
