BR2_PACKAGE_UCLIBC_NG_TEST=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_K1C_PATH)/board/kalray/common/rootfs_overlay $(BR2_EXTERNAL_K1C_PATH)/board/kalray/valid_k1c/rootfs_overlay $(BR2_EXTERNAL_K1C_PATH)/board/kalray/longvalid_k1c/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_K1C_PATH)/board/kalray/longvalid_k1c/pre_image.sh"
