BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_K1C_PATH)/local.mk"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_K1C_PATH)/board/kalray/common/rootfs_overlay"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/k1c/configs/smp.config"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_K1C_PATH)/board/kalray/common/post_image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS=""
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y
BR2_PACKAGE_K1C_FIRMWARE=y
BR2_TARGET_BAREBOX_IMAGE_FILE="barebox"
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_STRACE=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_K1C_PATH)/patches/"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_K1C_PATH)/configs/busybox.config"
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
# BR2_PACKAGE_DROPBEAR_CLIENT is not set
BR2_PACKAGE_DROPBEAR_SMALL=y
BR2_TOOLCHAIN_USE_SSP=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_SSP_REGULAR=y
