CONFIG_DEBUG_EXCEPTION_STACK=y
CONFIG_K1C_DEBUG_ASN=y
CONFIG_K1C_IOMMU_CHECK_COHERENCY=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_POISON_INITMEM=y
CONFIG_PAGE_POISONING=y
CONFIG_PAGE_POISONING_ZERO=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_LOCK_TORTURE_TEST=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_DEBUG_VM=y
CONFIG_DEBUG_VM=y
CONFIG_DEBUG_VM_VMACACHE=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_DEBUG_FS=y
CONFIG_DYNAMIC_DEBUG=y
